@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');
html {
	font-size: 100%
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title {
	display: block
}
body {font-family: 'Roboto', sans-serif; font-weight: normal; font-style: normal; font-size: 16px; line-height: 15px; color: #6f6f6f;
	-webkit-font-smoothing: antialiased; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	box-sizing: border-box; background: #f7f7f7;}
/*
::-moz-selection { background-color:#0d467d; color: #fff; }
::selection { background-color:#0d467d; color: #fff;  }
*/
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0;	padding: 0}
table {border-collapse: collapse; border-spacing: 0}
fieldset, img {	border: 0}
ol, ul {list-style: none}
sub, sup {position: relative; font-size: 75%; line-height: 0; vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
* {	outline: none !important;}
a{transition: all 0.3s ease-in-out;}
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { 	outline: 0; text-decoration: none;}
.clearfix {*zoom:1}
.clearfix:before, .clearfix:after {display: block; content: "";	line-height: 0}
.clearfix:after {clear: both}
.clear {clear: both}
.btn {outline: 0px;}
.lists {list-style: none;	margin: 0px;	padding: 0px;}
.mainpage {position: relative;}

p{ line-height: 21px; font-size: 15px;}
img{ max-width: 100%;}


.btn{line-height: 1.8;}
.btn-default{background-color: #eaeaea; transition: all 0.5s ease-in-out;}
.btn-default:hover{background-color: #dcdcdc;}


.container{ max-width: 1170px; width: 100%;}
ul {margin: 0; padding: 0;}


h4{ font-size: 18px;}
h3, h4, h5, h6{ margin-top: 10px; margin-bottom: 10px; color: #4b4b4b;}

#header{box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12);}

#header .header_nav .navbar-nav .nav-link{padding-right: 1.0rem; padding-left: 1.0rem; color: #333;}
a.button, a.button.border, input[type="submit"]{transition: all .2s ease-in-out;}

#header .header_nav .nav-link.post_ad_bt{ border-radius:80px; padding: 0.9rem 1.4rem; transition: all 0.2s ease-in-out; }
#header .navbar {padding:8px 0px;}
#header .navbar-brand img{max-width: 90px;}
#header .navbar-brand{margin-right: 50px;}
#lang-dropdown{margin-left: 15px; position: relative;}
#lang-dropdown .btn{ padding: 3px 12px;}
#lang-dropdown .dropdown-menu{right: 0px; left: auto; padding: 10px 0px; margin: 12px 0 20px !important;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, .12);}
#lang-dropdown .dropdown-menu li a{padding: 7px 15px; display: block; font-size: 14px; color: #666;}
.hamburger {padding:10px 10px; display: inline-block;  border-radius:5px; cursor: pointer; border: 0;  margin: 0; overflow: visible;}
.btn:focus, .btn.focus{ box-shadow: none;}

#home_banner{width: 100%; height: 369px; display: inline-block; background: url(../images/bg.jpg) center top no-repeat;  }
#home_banner .banner_inner{ width: 100%; height: 100%; background-color: rgba(45,48,58,0.80);}
.banner h1{font-size: 51px; color: #d6d6d6; font-weight: 400;}
.banner h3 {font-size: 22px; font-weight: 300; color: #fff; margin: 27px 0 32px;}
.banner .search-banner-wrapper{max-width: 900px; margin: 12px auto; border-radius: 5px; text-align: left; padding-right: 15px; padding-left: 15px; width: 100%;}
.banner .search-banner-wrapper .search-banner{color: #111; border-radius: 5px; background-color: #fff; padding: 5px; position: relative;}
.banner .search-banner-wrapper .search-banner .form-group { margin-bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center;  -ms-flex-align: center; align-items: center; background-color: #fff; padding: .2rem; padding-left: 0.7rem; border-radius: .2rem;}

.live-location-search{position: relative;}
.font-weight-bold {font-weight: 700 !important;}
.loc-tracking{ position: absolute; left: 65px; top: 20px;}
#searchStateCity{padding-left: 30px;}
.banner .search-banner-wrapper .what_looking{height: 100%;}
.banner .search-banner-wrapper .what_looking .form-control{width: 90%;}

.form-control:focus{ box-shadow: none;}
.mid_container{min-width: 100%; position: relative; width: 100%; padding: 50px 0 0 0;}
.category-quickad { background-color: #fff; display: inline-block; padding: 40px 0 10px; border-radius: 3px; width: 100%;}

.category-list .category-item { width: 25%; float: left;  margin-bottom: 30px;}
.category-list .category-item:nth-child(4n+1){clear: left;}
.category-title {color: #505050; display: block; font-size: 15px; white-space: nowrap; overflow: hidden; line-height: 21px; padding: 7px 0;}
.quickad-section {margin: 40px 0;} 

.sad_block{padding: 5px;}
.sad_container{ border: 1px solid#eee; background-color: #fff; }
.item-image-box{ width: 100%; display: inline-block; position: relative; overflow: hidden; text-align: center;}
.item-image-box img{height: 200px;  transition: all 0.3s ease-in-out;}
.sad_container:hover .item-image-box img {transform: scale(1.1);}
.ad_info{padding: 0 12px;}

.product_section{background-color: #fff; border-radius: 4px; padding: 35px 25px; margin-bottom: 25px;}
.section-title, .featured-top {border-bottom: 1px solid #f2f2f2; margin-bottom: 20px; padding-bottom: 0; margin-top: -20px;}
.section-title h4{color: #000; font-weight: 400;}


.sad_block .ad_info h4{ margin-bottom: 3px; overflow: hidden; margin-top: 10px;}
.sad_block .ad_info h4 a{color: #3e3e3e;}
.sad_block .ad_info .breadcrumb{background: none; padding: 0px;}
.sad_block .ad_info .breadcrumb li a { color: #797979; font-weight: 300; font-size: 14px;}
.sad_block .ad_info .item-details li{color: #6f6f6f; font-weight: 300; padding: 0 0 13px 0; }
.sad_block .ad_info .item-details li i{margin-right: 5px;}
.sad_block .ad_info .item-details li a{color: #6f6f6f;}

.sad_block .ad_meta { margin: 5px 0 5px 0; border-top: 1px solid #e5e5e5; width: 100%; display: inline-block;}
.sad_block .ad_meta .item_price {display: inline-block; background: #f0f0f0; color: #888; border-radius: 3px; font-size: 16px; margin-top: 9px; padding: 8px 10px;}
.sad_block .ad_info .contact-options{padding: 7px 0; }
.ad_info .contact-options li a {display: block; text-decoration: none; margin-right: 2px; height: 30px; width: 30px; text-align: center; line-height: 30px;
    border-radius: 50%; color: #b7b7b7; font-size: 12px; position: relative; background: #f4f4f4; }

.footer-section .ft-logo, .footer-section h5{margin-bottom: 15px;}
.footer-section .ft-logo img{max-width: 110px;}
.footer-section{background: url(../images/footer-skyline.png) top repeat-x #d8d2d2; padding: 170px 0 0;}
.footer-section p {line-height: 22px; color: #333;}
.footer-section h5 {font-size: 18px; font-weight: 700; color: #000;}
.footer-section .helpMenu li a {display: block; color: #333; padding: 8px 0; font-size: 14px;}
.footer-section .helpMenu li a::before { content: '\f101'; font-family: FontAwesome;  margin-right: 7px;}
.footer-section .address::before { content: "\f041"; position: absolute; top: 2px;}
.footer-section .address::before, .footer-section .email::before {font-size: 18px;  font-family: FontAwesome; left: 0;}
.footer-section .address { font-size: 15px; color: #333; position: relative; padding-left: 30px; line-height: 25px;}
.footer-section .phone::before {content: "\f095"; font-family: FontAwesome; position: absolute; left: 0; top: 0; font-size: 20px; color: #333;}
.footer-section .phone { position: relative; padding-left: 30px; margin-top: 20px;  color: #333; font-size: 15px;}
.footer-section .email a, .footer-section .phone a{color: #333;}
.footer-section .email::before {content: "\f0e0"; position: absolute; top: 0;}
.footer-section .address::before, .footer-section .email::before {  font-size: 18px;  font-family: FontAwesome;  left: 0;}
.footer-section .email {position: relative;  padding-left: 30px;  margin-top: 15px; color: #333;}
.social { margin-top: 20px;}
.social a {color: #666; font-size: 20px; display: inline-block; margin-right: 20px;}
.copyright {padding: 20px 0;}
.footer-section p {line-height: 22px; color: #333;}


.featured_slider .slick-arrow{ background: none; cursor:pointer; font-size:0px; top:-50px; transition:all 0.5s ease-in-out; width:30px; height: 20px; margin-right: -15px;}
.featured_slider .slick-prev{ background-image:url(../images/left-arrow.png); background-repeat:no-repeat; background-position:center center; right: 50px; opacity: 0.5;}
.featured_slider .slick-next{ background-image:url(../images/right-arrow.png); background-repeat:no-repeat; background-position:center center; padding-left: 35px;  opacity: 0.5; border-left: 1px solid#e8e8e8;}

.featured_slider .slick-prev:hover, .featured_slider .slick-next:hover{opacity: 1;}




.modal-body .column{max-height: 400px; overflow: auto;}
#selectCountry .cities li{padding: 8px 5px; width: 25%; font-size: 13px; font-weight: 300; color: #575757; float: left; }
#selectCountry .cities li a{color: #4e575d; }
#selectCountry .cities li a:hover{ text-decoration: underline; }

.flag.flag-af { background-position: -32px 0;}
.icon-map::before {content: "\f278"; font-family: FontAwesome; margin-right: 10px;}
.modal-header .close{position: absolute; right: 0; margin: 0px;}
.modal-header{color: #828282;}

.close {float: right; font-size: 21px; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; filter: alpha(opacity=20);	opacity: .2;}

.inner_search{width: 100%; display: inline-block; padding: 15px; background-color: #fff; margin-bottom: 30px;}
.section {background-color: #fff; border-radius: 4px; padding: 35px 25px; margin-bottom: 25px;}
.tg-sidebartitle {width: 100%; float: left; padding: 15px 20px; background: #363b4d; border-radius: 5px 5px 0 0;}
.tg-sidebartitle h2 {margin: 0; color: #fff; font-size: 14px; line-height: 20px;}
#ResponseCustomFields .form-group label.label-title {color: #363b4d; font-weight: bold; padding: 10px 0;}
.range-inputs input[type="text"] {width: 100%; max-width: 570px; border: 1px solid #e0e0e0; outline: 0; box-shadow: none; height: 42px; padding: 0 15px;}
.range-widget .range-inputs > input { margin-right: 1%; float: left; width: 49% !important; background: #f4f4f4; border: none;}
.tg-btn {cursor: pointer; padding: 0 50px; position: relative; text-align: center; overflow: hidden; border-radius: 23px; display: inline-block; vertical-align: middle;
    text-transform: capitalize; font: 500 16px/46px Quicksand, Arial, Helvetica, sans-serif; color: #fff; }

.range-widget{position: relative;}
.range-widget button { color: #fff; position: absolute; right: 0; top: 0; height: 42px; width: 19%; border: none;}
.range-widget .range-inputs { width: 80%; position: relative;}
#ResponseCustomFields .inner{display: inline-block; margin-bottom: 21px;}
#ResponseCustomFields span{margin-right: 10px;}



/**** custome ckeckbox rario ****/
[type="radio"]:checked, [type="radio"]:not(:checked) { position: absolute; left: -9999px; }
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label { position: relative; padding-left: 28px; cursor: pointer; line-height: 20px; display: inline-block; color: #666; }
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before { content: ''; position: absolute; left: 0; top: 2px; width: 18px; height: 18px; border: 1px solid #b2b2b2; border-radius: 100%; background: #fff; }
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after { content: ''; width: 10px; height: 10px; background: #ff002a; position: absolute; top: 6px; left: 4px; border-radius: 100%; webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
[type="radio"]:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
[type="radio"]:checked + label:after { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
[type="checkbox"]:checked, [type="checkbox"]:not(:checked) { position: absolute; left: -9999px; }
[type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label { position: relative; padding-left: 28px; cursor: pointer; line-height: 18px; display: inline-block; color: #666; }
[type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before { content: ''; position: absolute; left: 0; top: 0; width: 18px; height: 18px; border: 1px solid #b2b2b2; background: #fff; }
[type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after { content: ''; width: 6px; height: 12px; border: solid #000; border-width: 0 2px 2px 0; position: absolute; top: 2px; left: 6px; transform: rotate(45deg); webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
[type="checkbox"]:not(:checked) + label:after { opacity: 0; }
[type="checkbox"]:checked + label:after { opacity: 1; }
.form-control:focus { border-color: #aaaaaa; box-shadow: none; }
/**** custome ckeckbox rario close ****/


/************ Select Dropdown Css ****************/
.slects_box { display: inline-block; vertical-align: middle; width: 100%; }
.slects_box select { -moz-appearance: none; color: #606060; background: none; -moz-appearance: none; appearance: none; -webkit-appearance: none; -ms-appearance: none; -o-appearance: none; cursor: pointer; float: left; font-size: 15px; overflow: hidden; padding-left: 10px; height: 42px; text-overflow: ellipsis; white-space: normal; width: 100%; border: 1px solid #d9d9d9; border-radius: 3px; background: #ffffff; width: 100%; }
.slects_box span::after { background: url(../images/select_arrow.png) no-repeat top right; bottom: 0; color: #333; content: ""; height: 10px; padding: 14px 25px; pointer-events: none; position: absolute; right: 15px; top: 18px; z-index: 1; }
.slects_box span { display: inline-block; float: left; overflow: hidden; position: relative; width: 100%; }
/************ Select Dropdown Css End ****************/

.section .pagination{margin-top: 30px;}
.pagination li{ margin: 2px;}
.page-item:first-child .page-link, .page-item:last-child .page-link{border-radius: 0.25rem;}

.inner_p_search{ padding: 15px 20px; margin-bottom: 30px; display: inline-block; width: 100%;}
.inner_p_search #ListingForm{ width: 100%; display: inline-block;border: 1px solid #e0e0e0; border-radius: 4px; background-color: #fff; position: relative;}
.inner_p_search #ListingForm .category-dropdown{ border-right: 1px solid#ccc; height: 100%; padding: 17px 15px;}
.inner_p_search #ListingForm .category-dropdown a{ color: #6c757d;}
.inner_p_search .form-control{height: 100%; border: 0px none; padding: 0px;}
.inner_p_search .banner-icon{ position: relative;}
.inner_p_search .banner-icon i{position: absolute; left: 25px; top: 20px;}
.inner_p_search .location{border-left: 1px solid#ccc; border-radius: 0px; padding-left: 30px;}
.inner_p_search .bt_blue{color: #fff; border-radius: 0 3px 3px 0; border: 0px none !important;}

.inner_search .category-dropdown{width: 100%; background-color: #fff;}
.inner_search .category-dropdown a{width: 100%; display: inline-block;}
.category-dropdown a .change-text{width: 91%; display: inline-block;}

.breadcrumb-section .breadcrumb{background: none; padding: 0.75rem 0rem;}
.breadcrumb-section .breadcrumb > li{font-size: 14px; padding-left: 5px;}
.breadcrumb > li + li::before{padding: 0 5px;}
.breadcrumb-section .breadcrumb > li + li::before, .breadcrumb > li + li::before {content: "\f101"; font-family: FontAwesome;}
.breadcrumb-section .back-result{font-size: 14px;}



/*product detail page css*/
.aside {background-color: #fff;  box-shadow: none;  border: 1px solid #ebebeb;}
.ad-details .aside-header {background: #f5f5f5; padding: 10px 15px; border: 1px solid #ebebeb; font-size: 18px; color: #666; text-align: center; line-height: 22px;}
.ad-details .aside-body {padding: 10px 15px;}
.user-info a {color: #272727;}
.ad-details .aside-body .profile-picture img{ width: 150px; height: 150px; margin-top: 15px; margin-bottom: 10px;}
.contact-advertiser{ margin-top: 20px;}
.contact-advertiser .btn { line-height: 1.2; border-radius: 3px; margin-right: 5px; border: 1px solid transparent; margin-bottom: 20px;}
.contact-advertiser .btn i{margin-right: 5px;}

.jssocials-share {display: inline-block; vertical-align: top; margin: 0.3em 0.3em 0.3em 0;}
.jssocials-share-link { display: inline-block; min-width: 33px; padding: .5em .6em;  color: #fff; -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
    transition: background 200ms ease-in-out, border-color 200ms ease-in-out;}

.jssocials-share-email .jssocials-share-link {background: #3490F3;}
.jssocials-share-email .jssocials-share-link:hover {background: #0e76e6; color: #fff;}
.jssocials-share-twitter .jssocials-share-link {background: #00aced;}
.jssocials-share-twitter .jssocials-share-link:hover {background: #0087ba; color: #fff;}
.jssocials-share-facebook .jssocials-share-link {background: #3b5998;}
.jssocials-share-facebook .jssocials-share-link:hover {background: #2d4373; color: #fff;}
.jssocials-share-googleplus .jssocials-share-link {background: #dd4b39;}
.jssocials-share-googleplus .jssocials-share-link:hover {background: #c23321; color: #fff;}
.jssocials-share-linkedin .jssocials-share-link { background: #007bb6;}
.jssocials-share-linkedin .jssocials-share-link:hover {background: #005983; color: #fff;}
.jssocials-share-pinterest .jssocials-share-link {background: #cb2027;}
.jssocials-share-pinterest .jssocials-share-link:hover {background: #9f191f; color: #fff;}
.jssocials-share-whatsapp .jssocials-share-link {background: #29a628;}
.jssocials-share-whatsapp .jssocials-share-link:hover {background: #1f7d1e; color: #fff;}

.margin-top-20 { margin-top: 20px !important;}
.more-info { padding: 0 30px;}
.starReviews { font-size: 12px; color: #25323b;}
.ad-details span { display: inline-block; margin-top: 10px; color: #d0d0d0; font-size: 20px;  font-size: 14px; font-weight: 300;}
.ad-details span figure{margin-right: 3px; font-size: 20px;}

.more-info { padding: 0 10px;}
.more-info li {display: inline-block; width: 100%; margin: 12px 0; font-weight: 300; }
.more-info li span{font-family: 'Roboto', sans-serif; padding-left: 10px; font-size: 16px; font-weight: 300;}
.more-info li i{margin-right: 10px;}
.more-info li a, .more-info li a span{color: #555555;}

.more-info #set-favorite li{margin-bottom: 0px;}
#main .ad-details h1.title { font-size: 24px; font-weight: 400; color: #1c90f3; margin: 0;}
.ad-details span.icon {margin: 11px 4px 16px;}
.ad-details span.icon a{padding-left: 6px;}
.ad-details span.icon a, .user-info a { color: #9fa4a4; font-weight: 400; }

.pd_slider .slider-nav .slick-slide{ padding:6px 3px;}
.pd_slider .slick-list{background-color: #f7f7f7; margin-top: 5px;}

.pd_slider  .slick-arrow{ background-color:rgba(0,0,0,0.7); cursor:pointer; font-size:0px; top:45%; transition:all 0.5s ease-in-out; width:50px;}
.pd_slider  .slick-prev{ background-image:url(../images/left-arrow.png); background-repeat:no-repeat; background-position:center center;}
.pd_slider .slick-next{ background-image:url(../images/right-arrow.png); background-repeat:no-repeat; background-position:center center; right: -1px;}
.pd_slider .slick-arrow:hover{ background-color:rgba(0,0,0,0.9);}

.detail-title { padding-bottom: 40px;  margin-bottom: 25px;  border-bottom: 1px solid #e5e5e5; color: #272727;}
.detail-title .title-left {font-size: 18px; line-height: 18px; margin: 0; font-weight: 500; text-transform: inherit; text-align: inherit; float: left;}

.quick-info {padding: 30px 0 0; font-size: 14px; background-color: #fff;}
.quick-info ul li {float: left; width: 50%; display: block; padding: 5px;}
.quick-info ul li > .inner {   background: #f4f4f4;   padding: 10px 15px;}
.quick-info {font-size: 14px;}
.quick-info ul li > .inner span.label {color: #151515; display: inline; padding: .2em .6em .3em; font-size: 100%; font-weight: 500; line-height: 1; text-align: left; white-space: nowrap; vertical-align: baseline; border-radius: .25em; box-shadow: none; text-transform: none;}
.quick-info ul li > .inner > span {float: left; width: 50%; text-align: right;}
.quick-info ul li > .inner > span {float: left; width: 50%; text-align: right;}
.description {margin-bottom: 25px; padding: 30px 0 0;}

.user-img.profile-img { max-width: 150px; min-width: 140px;}
.user-img {border: 1px solid #eee; width: 80px; padding: 3px; margin-right: 5px;}
.user-details .user-admin, .user-img { float: left;}

.user-admin p{font-size: 17px; font-weight: 300; line-height: 27px;}
.user-admin .contacts{margin: 15px 0;}
.user-admin .contacts i {margin-right: 10px; width: 20px; height: 20px; line-height: 20px; text-align: center; border-radius: 50%; color: #fff; font-size: 10px;}
.user-admin .contacts a{font-size: 14px;}

.user-ads-details {float: right;}
.user-details .favourites, .user-details .my-quickad, .user-details .site-visit {float: left; padding: 0 28px; text-align: center; border-left: 1px solid #f5f5f5;}
.user-details .site-visit h3, .user-details .my-quickad h3, .user-details .favourites h3{font-weight: 300;}

ul.social_share{text-align: left; width: 100%; margin-top: 80px; padding-left: 30px;}
ul.social_share li{display: inline-block;}
ul.social_share li a {background: #fff; color: #666; border-radius: 50%; box-shadow: 1px 1px 2px #6f6f6f; display: block; font-size: 15px; height: 30px; line-height: 30px;
    text-align: center; width: 30px; margin-right: 5px; position: relative;}
.social_share .facebook:hover, .social_share .twitter:hover, .social_share .google:hover, .social_share .linkden:hover, .social_share .instagram:hover, .social_share .youtube:hover{color: #fff;}

.social_share .facebook:hover{background: #3b5998;}
.social_share .twitter:hover{background: #55acee;}
.social_share .google:hover{background: #dd4b39; }
.social_share .linkden:hover{background: #0077B5;}
.social_share .instagram:hover{background: #3f729b;}
.social_share .youtube:hover{background: #b00; }


/*-----------Dashboard-----------*/
.user-panel-sidebar { background-color: #fff; border-radius: 4px; box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08); padding: 15px 20px; margin-bottom: 25px; }
.user-panel-sidebar .panel { margin-bottom: 15px; }
.user-panel-sidebar .panel-title { border-top: 1px solid #e0e0e0; color: #2a3744; font-size: 14px; font-weight: 400; letter-spacing: 1px; margin-bottom: 0; margin-top: 0; padding-bottom: 10px; padding-top: 15px; text-transform: uppercase; }
.user-panel-sidebar .panel-title a { display: block; position: relative; color: #2a3744; }
.no-border { border: none !important; }
.user-panel-sidebar #accordion .panel-heading a:before { content: '\f107'; font-size: 16px; position: absolute; right: 0px; top: 0px; font-family: FontAwesome; transition: all .5s }
.user-panel-sidebar #accordion .panel-heading.active a:before { transform: rotate(180deg); transition: all .5s }
.user-panel-sidebar ul li a { background: #fff; display: block; color: #2a3744; font-size: 12px; height: auto; letter-spacing: .5px; line-height: 26px; padding: 5px 15px; margin-bottom: 1px; text-align: left; text-decoration: none; text-transform: uppercase; }
.user-panel-sidebar ul li a .badge { border-radius: 10px; display: inline-block; font-size: 10px; float: right; top: 5px; padding: 3px 7px; position: relative; }
.section { background-color: #fff; border-radius: 4px; box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08); padding: 35px 25px; margin-bottom: 25px; }
.panel-user-details .section { background-color: #fff; padding: 25px; }
.user-img { border: 1px solid #eee; width: 80px; float: left; padding: 3px; margin-right: 15px; }
.user-details .user-admin { float: left; }
.user-details { overflow: hidden; }
.user-admin h3 { font-size: 24px; margin: 2px 0px 5px; }
.user-admin span { display: block; margin-bottom: 7px; }
.user-ads-details { float: right; }
.user-details .favourites, .user-details .my-quickad, .user-details .site-visit { float: left; padding: 0 28px; text-align: center; border-left: 1px solid #f5f5f5; }
.my-details { margin-bottom: 35px; }
.panel-user-details h2 { font-size: 28px; font-weight: 500; color: #333; margin-bottom: 20px; }
.panel-user-details .control-label { color: #000; font-size: 15px; font-weight: 400; margin: 10px 0; text-align: left; }
.required { color: #f95858; }
.form-control { border-radius: 3px; height: 44px; border: 1px solid #e3e3e3; }
.panel-user-details .form-group .btn-upload { border-radius: 0px; margin-top: 0px; }
.btn.btn-outline { color: #fff; padding: 6px 26px 7px; margin: 9px 0 0; }
.btn.btn-outline.cancel { background-color: #dbdbdb; border: 1px solid #dbdbdb; margin-left: 10px; }

/*-----------Membership-----------*/
.pricing-plans-carousel .pricing-plan { position: relative }
.pricing-plans-carousel .pricing-plan .mb-4 { margin-bottom: 36px!important; font-size: 20px }
.pricing-plans-carousel .pricing-plan .mb-6 { margin-bottom: 38px!important }
.pricing-plans-carousel .pricing-plan .mb-2 { margin-bottom: 11px!important }
.pricing-plans-carousel .recommended .ribbon { width: 110px; height: 110px; position: absolute; top: -55px; left: -55px; -webkit-transform: rotate(45deg); transform: rotate(45deg); text-align: right }
.pricing-plans-carousel .recommended { overflow: hidden; }
.pricing-plans-carousel .recommended .ribbon i { color: #fff; margin-right: 15px; line-height: 110px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.p-3 { padding: 1rem !important; }
.pricing-plans-carousel .pricing-plan .mb-2 { margin-bottom: 20px !important; font-size: 15px; }
.font-size-35 { font-size: 35px !important; }
.pr-2, .px-2 {  padding-right: .5rem !important;}
.pl-2, .px-2 {  padding-left: .5rem !important;}
.pt-7, .py-7 { padding-top: 4rem !important; }
.pb-7, .py-7 { padding-bottom: 4rem !important; }
.text-center { text-align: center !important; }
.rounded-10 { border-radius: 10px; }
.bg-light, a.bg-light { background-color: #fff !important; }

/*Login page css*/
.user-account {background-color: #fff;  border-radius: 4px; padding: 40px 50px; margin-bottom: 70px;}
.user-account h2{text-align: center;}
.loginBtn { display: block; font-size: 10px; padding-left: 48px; text-align: center; font-weight: 700; position: relative; cursor: pointer; font-size: 15px; padding-left: 25px; padding-right: 25px; margin-bottom: 10px; border-radius: 3px;}
.loginBtn--facebook {background-color: #3b579d;}
.loginBtn, a.loginBtn { color: #fff !important;}
.loginBtn, .loginBtn i {height: 44px; line-height: 44px;}
.loginBtn, .tags li { text-transform: uppercase;}
.loginBtn i {font-size: 16px; display: block;  width: 48px; position: absolute; left: 0; border-right: 1px solid rgba(0, 0, 0, .1);}
.loginBtn--google { background: #DD4B39;}

.social-signup{margin-top: 30px;}
.login_con{display:block; text-align: center;}
.login_con .btn { max-width: 200px; width: 100%; padding: 8px;}
.user-account .user-option { color: #ccc; font-size: 14px; overflow: hidden; margin-top: 55px;}
.user-account .user-option label{cursor: pointer;}
.user-account .user-option a{color: #ccc; }

.user_account .create_bt { width: 100%; padding: 10px 30px; display: block; font-size: 18px; border-radius: 4px; margin-top: 25px;}
.c_checkbox{font-size: 14px; margin: 25px 0; text-align: left; line-height: 21px;}

.post_ad .section-title {margin-top: 0px; border-bottom: 0px; margin-bottom: 35px;}
.post_ad .section-title h2{ margin-bottom:10px; }

.post_ad .spt_bt{text-align: center; display: block;}
.post_ad .ch_category{border-radius: 50px; padding-left: 30px; padding-right: 30px; margin-bottom: 30px;}
textarea.form-control{height: auto; resize: none;}

.images{ width: 100%;  height: 100px; margin-bottom: 10px; border-radius: 4px; font-size: 14px; text-align: center; display: flex; flex-wrap: wrap; align-items: center; 
	justify-content: center; background-color: #f2f2f2; cursor: pointer; margin-bottom: 25px;}
.images .pic, .images .pic span {width: 100%; display: inline-block; text-align: center;}
.images img{width: 30px; margin-bottom: 7px; }
.panel-user-details .control-label.lable_tx_right{text-align: right;}
.mr_top_45{margin-top: 45px;}
.fr_ad{width: 100%; display: inline-block; padding: 15px; border: 2px solid#fff; border-radius: 5px; margin: 15px 0; cursor: pointer; transition: all 0.5s ease-in-out;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2); box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);}
.fr_ad:hover, .fr_ad.active{-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);}
.free_ad_content h5{ margin-top: 0px;}

.free_ad_content h5 strong{float: right;}
.fr_ad .free_ad_img{width: 40px; float: left;}
.fr_ad .free_ad_content{padding-left: 80px; vertical-align: top;}
.free_ad_content h5 span{float: right; font-size: 13px; font-weight: 300; padding: 4px 10px; border-radius: 3px; color: #fff;}
.post_ad .checkbox-primary{margin: 15px 0;}
.breadcrumb-section .title{margin-bottom: 10px;}

.faq-list_h {position: relative; margin: 0 0 20px; padding: 0 0 0 40px; background: 0 0; font-weight: 400;}
.faq-list .marker, .faq-list .marker1 {display: block; font-weight: 700; margin: 0; color: #000; left: 0; top: 0;}
.faq-list .marker { position: absolute;}
.faq-list dd {position: relative;}
.faq-list .marker, .faq-list .marker1 { display: block; font-weight: 700;  margin: 0; color: #000; left: 0; top: 0;}
.faq-list .marker1 { position: absolute;}
.faq-list .m_13 { padding-left: 40px; font-size: 13.5px; line-height: 28px; color: #9C9C9C; margin-bottom: 50px;}
.faq-list .step{ color: #2E2E2E; margin: 18px 0 5px 0; display: inline-block; width: 100%;}

.panel-user-details.profile_public_view .user-ads-details{margin-top: 30px; float: left;}














/*Theme color css*/
.bt_blue{background-color: #1c90f3; color: #fff;}
.bt_blue:hover, .bt_blue:focus{background-color: #187ace; color: #fff;}

a{color: #2196f3;}
#header{background-color: #f7f7f7;}
#header .header_nav .nav-link.post_ad_bt{border: 1px solid#2196f3; color: #2196f3;}
#header .header_nav .nav-link.post_ad_bt:hover{background-color: #2196f3; color: #fff;}
.hamburger{background-color: #eeeeee;}
#lang-dropdown .btn{ background-color: #dddddd; font-weight: bold;}
#lang-dropdown .dropdown-menu li a:hover{ color: #2196f3;}
.category-item:hover .category-title {color: #007bff; }
.btn-primary {color: #fff; background-color: #007bff;  border-color: #007bff;}
.btn-primary:hover {color: #fff; background-color: #0069d9; border-color: #0062cc;}
.sad_block .ad_info .item-details li i{color: #1875bf;}
.sad_block .ad_info .item-details li a:hover{color: #2196f3;}
.ad_info .contact-options li a:hover {color: #fff; background: #007bff;}
.footer-section .helpMenu li a:hover, .footer-section .email a:hover, .footer-section .phone a:hover, .social a:hover{color: #007bff;}
.ad-details span.icon a:hover, .user-info a:hover{color: #1c90f3;}
.more-info li a span.uf{ color: #1c90f3;}
.user-admin .contacts i{ background-color: #1c90f3;}

/*-----------dashboard-----------*/
.user-panel-sidebar ul li a:active, .user-panel-sidebar ul li a:hover, .user-panel-sidebar ul li.active a { background-color: #2196f3; color: #fff; }
.badge { background-color: #2196f3; color: #fff; }
.user-panel-sidebar ul li a:hover > .badge { background-color: #fff; color: #2196f3; }
.user-admin h3 { color: #2196f3; }
.btn.btn-outline { background-color: #2196f3; color: #fff; }
.btn.btn-outline:hover { background-color: transparent; color: #1c90f3; }
.btn.btn-outline, .btn.btn-outline:hover { border: 1px solid #2196f3; }
.pricing-plans-carousel .recommended .ribbon { background-color: #2196f3; color: #fff; }
li span.icon-text.yes { color: #2db414; }
li span.icon-text.no { color: #b4240d; }
.border { border: 1px solid #e9ecef !important; }
.border { border: 1px solid #e9ecef !important; }
.pricing-plans-carousel .pricing-plan .price-text { color: #1c90f3; }
.pricing-plans-carousel .pricing-plan:hover { background-color: #fff!important; -webkit-box-shadow: 1px 6px 20px 0 #e6f0f9; box-shadow: 1px 6px 20px 0 #e6f0f9; }
.pricing-plans-carousel .recommended .ribbon { background-color: #1c90f3; }

/*Login page color*/
.user-account h2{ color: #007bff;}
.user-account .user-option label:hover, .user-account .user-option a:hover{ color: #007bff;}

.bt_green{background-color: #00cc67; color: #fff !important;}
.bt_green:hover, .bt_green:focus{background-color: #00b65c; color: #fff;}
.fr_ad.active{ border: 2px solid#139ff0;}
.free_ad_content h5 span{background-color: #007bff;}


